@import 'colors/typography-light';
@import 'colors/typography-dark';
@import 'addon/variables';
@import 'variables-hook';
@import 'addon/module';
@import 'addon/syntax';
@import 'addon/commons';
@import 'layout/home';
@import 'layout/post';
@import 'layout/tags';
@import 'layout/archives';
@import 'layout/categories';
@import 'layout/category-tag';

@mixin fontPoppins($name, $weight, $style) {
    @font-face {
      font-family: "NanumSquareNeo";
      src: url('/assets/fonts/NanumSquareNeo/#{$name}.woff') format("woff");
      font-weight: $weight;
      font-style: $style;
    }
  }
  
@include fontPoppins("NanumSquareNeo-aLt", 300, normal);
@include fontPoppins("NanumSquareNeo-bRg", 400, normal);
@include fontPoppins("NanumSquareNeo-cBd", 700, normal);
@include fontPoppins("NanumSquareNeo-dEb", 800, normal);

html {
    #sidebar {
        background: var(--sidebar-bg), var(--sidebar-bg-color);
        background-size: cover;
        background-position: center;
        
        header.profile-wrapper {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                border-radius: 10px !important;
            }
        }

        .site-title {
            font-size: 24px;
        }

        .nav-link {
            background: var(--sidebar-nav-bg);
            font-weight: 800 !important;
        }

        .sidebar-bottom {
            padding: 0px 24px;
            justify-content: center;
        }
    }

    div#main-wrapper {
        background: var(--main-bg), var(--main-bg-color);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .post-navigation {

            // 부트스트랩 버튼 수정
            .btn:not(:hover) {
                background: var(--bootstrap-button-bg);
            }

            .btn>p {
                font-weight: bold;
            }
        }

        div.container {
            font-weight: normal;
            
            #topbar-wrapper {
                border-radius: 20px;

                search {
                    background: var(--search-bg);
                }
            }

            main {
                position: relative;
                z-index: 1;

                &:has(.post-tail-wrapper)::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 10px;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    background: var(--main-inner-bg);
                    border-radius: 10px;
                }

                &:has(#hyechans-blog) h1.dynamic-title {
                    display: none;
                }

                div#post-list {
                    .card-title {
                        font-weight: 700;
                    }
                }

                header {
                    h1 {
                        font-weight: 800;
                        font-size: 27px;
                    }
                    padding-bottom: 10px;
                    border-bottom: 3px double var(--header-hr-border-color);
                }

                article > div.content {
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Tahoma, 나눔고딕, "Nanum Gothic";
                    word-spacing: 1.5px;
                    font-size: 14px;

                    & > p {
                        margin-bottom: 24px;
                        padding-left: 6px;
                    }
                    & > div, & > ul, & > div.table-wrapper, & > div.highlighter-rouge, & > blockquote, & > dl {
                        margin-bottom: 30px;
                    }
                    // *:not(.highlighter-rouge, .highlighter-rouge *){
                    //     font-weight: 700;
                    // }

                    h1, h2, h3, h4 {
                        font-weight: 800;
                        font-family: var($font-family-heading);
                    }

                    h1 {
                        font-size: 32px;
                    }

                    h2 {
                        padding-left: 2px;
                        font-size: 28px;
                    }

                    h3 {
                        font-size: 24px;
                        padding-left: 4px;
                    }

                    h4 {
                        font-size: 21px;
                    }

                    img {
                        box-shadow: var(--content-img-shadow);
                    }

                    sup > a.footnote {
                        background-color: var(--footnote-bg);
                        &:hover {
                            background-color: var(--footnote-hover-bg);
                        }
                    }

                    div {
                        a.tag {
                            background: var(--card-bg);
                        }
                    }
                    
                    .table-wrapper{
                        &>table {
                            thead tr {
                                background-color: var(--tbh-bg);
                            }
                            tbody tr:nth-child(2n+2) {
                                background-color: var(--tb-even-bg);
                            }
                        }

                        th, td {
                            white-space: normal;
                        }
                        td {
                            padding: 10px 16px;
                        }
                    }

                    div.highlighter-rouge {
                        code {
                            .rouge-table {
                                pre {
                                    // white-space: pre-wrap;
                                    span {
                                        word-break: break-word;
                                    }
                                }
                            }
                        }

                        .highlight {
                            max-height: 500px;
                            scrollbar-color: var(--content-highlight-scrollbar-thumb-color) var(--content-highlight-scrollbar-color);
                            scrollbar-width: thin;
    
                            &::-webkit-scrollbar {
                                width: 4px;
                                height: 8px;
                                background-color: var(--content-highlight-scrollbar-color);
                            }
    
                            &::-webkit-scrollbar-thumb {
                                background-color: var(--content-highlight-scrollbar-thumb-color);
                            }
                        }
                    }

                    hr {
                        position: relative;
                        margin: 70px 0 !important;
                        overflow: visible;
                        opacity: .75;
                        border-color: var(--content-hr-border-color);
                        border-style: dashed;

                        &::after {
                            position: absolute;
                            top: 0%;
                            left: 50%;
                            content: '';
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: var(--content-hr-image-bg-color);
                            background-image: url('/avatar_trans.png');
                            background-size: 80% 80%;
                            background-position: center;
                            background-repeat: no-repeat;
                            transform: translate(-50%, -50%);
                            border: 2px solid var(--content-hr-border-color);
                        }
                    }


                    // Archive
                    div#archives {
                        time.year {
                            font-weight: bold;

                            &::after {
                                left: 2.5px;
                            }
                        }

                        ul {
                            li:nth-child(even) {
                                background: var(--archive-even-bg);
                            }
                            li {
                                a {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    &:has(#hyechans-blog) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        
                        h1, h2 {
                            font-weight: 800;
                        }

                        h2, h3 {
                            position: relative;
                            a.anchor {
                                position: absolute;
                                height: 22px;
                                right: -18px;
                                top: 0;
                                bottom: 0;
                                margin: auto 0;
                            }
                        }
                    }
                }

                // 정보 탭을 위한 CSS
                div.content:has(h1#hyechans-blog) {
                    h1 {
                        margin: 16px 0px 16px 0px !important;
                    }
                    h2 {
                        margin: 12px 0px 12px 0px !important;
                    }
                    h3 {
                        margin: 10px 0px 10px 0px !important;
                    }
                    &>p {
                        margin-bottom: 8px !important;
                    }
                }
            }

            aside#panel-wrapper {

                div.access {
                    section#access-lastmod {
                        ul.content {
                            // background: #ffffff66;
                            border-radius: 4px;
                            padding: 8px 10px 8px 10px !important;
                        }
                    }

                    section:nth-child(2) {
                        div {
                            // background: #ffffff66;
                            border-radius: 4px;
                            padding: 8px 10px 8px 10px !important;
                            gap: 4px;
                            
                            a.post-tag {
                                margin: 0 !important;
                            }
                        }
                        a.post-tag:not(:hover) {
                            background: var(--card-bg);
                        }
                    }
                }

                section#toc-wrapper {
                    border-left: 1px solid var(--toc-wrapper-border-color);
                    border-radius: 0px 4px 4px 0px;
                    // background: #fff6;
                }
            }
        }
    }

    aside#notification {
        z-index: 2;
    }
}